<?xml version="1.0"?>
<launch>
  <arg name="gazebo" default="false"/>
  <!-- This file is used by MoveIt. -->
  <param name="robot_description" command="$(find xacro)/xacro
                                          '$(find osx_ur5e)/urdf/scene.urdf.xacro'
                                          gazebo:=$(arg gazebo)
                                          " />

  <!-- These args are declared so the UR upload script does not complain. -->
  <arg name="limited" default=""/>
  <arg name="kinematics_params" default=""/>
</launch>
