<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="osx_base_scene" >

  <xacro:include filename="$(find osx_scene_description)/urdf/ur_gazebo.xacro"/> 
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>
  
  <!-- robots -->
  
  <xacro:ur_robot
    prefix=""
    joint_limits_parameters_file='$(find ur_description)/config/ur5e/joint_limits.yaml'
    kinematics_parameters_file='$(find ur_description)/config/ur5e/default_kinematics.yaml'
    physical_parameters_file='$(find ur_description)/config/ur5e/physical_parameters.yaml'
    visual_parameters_file='$(find ur_description)/config/ur5e/visual_parameters.yaml'
    transmission_hw_interface='hardware_interface/PositionJointInterface'
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
  />
  
  <link name="ee_link">
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.01 0 0"/>
    </collision>
  </link>
  <joint name="ee_fixed_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="ee_link"/>
    <origin rpy="0.0 -1.57079632679 1.57079632679" xyz="0.0 0.0 0.0"/>
  </joint>

  <gazebo reference="wrist_3_joint">
  <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>500.0</updateRate>
      <topicName>b_bot/wrench</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>wrist_3_joint</jointName>
    </plugin>
  </gazebo>

  <xacro:include filename="$(find osx_ur5e)/urdf/wipe_vertical_gripper.urdf.xacro" />
  <xacro:wipe_vertical_gripper prefix="" parent="tool0" />

  <!-- The "world" link definition should be removed, but apparently it is necessary for Gazebo -->
  <link name="world" />
  <joint name="world_osx_joint" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
