<?xml version="1.0"?>
<launch>
  <arg name="parent"/>
  <arg name="child"/>

  <!-- Publish hand-eye calibration as static TF -->
  <node name="$(anon handeye_publisher)"
        pkg="osx_scene_description" type="publish_handeye_calibration.py"
        args="--parent $(arg parent) --child $(arg child)"
        output="screen"/>

</launch>
