<launch>
  <!-- Grippers -->
  <include file="$(find robotiq_control)/launch/urcap_cmodel_action_controller.launch">
    <arg name="namespace" value="a_bot" />
    <arg name="gripper_prefix" value="a_bot_" />
    <arg name="address" value="192.168.1.42" />
    <arg name="config" value="cmodel_action_controller_140" />
  </include>
</launch>
